---
import { Picture } from 'astro:assets';
import { type CollectionEntry, getCollection } from 'astro:content';

import ArticleLayout from '@layouts/ArticleLayout.astro';

import FormattedDate from '@components/FormattedDate.astro';

import { SITE_METADATA } from '../../consts';

export async function getStaticPaths() {
    const posts = await getCollection('blog');

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post
    }));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
const {
    data: { title, excerpt, publishDate, heroImage, tags }
} = post;
---

<ArticleLayout
    title={title}
    excerpt={excerpt}
    publishDate={publishDate}
    heroImage={heroImage}
    tags={tags}
>
    <Fragment slot="content">
        <article>
            <header>
                <h1 transition:name={`post-title-${post.slug}`}>{title}</h1>

                <FormattedDate
                    date={publishDate}
                    transition:name={`post-publish-date-${post.slug}`}
                />
            </header>

            <section>
                <Picture
                    src={heroImage}
                    alt={title}
                    formats={['avif', 'webp']}
                    widths={SITE_METADATA.SRC_SET_BREAKPOINTS}
                    loading="lazy"
                    decoding="async"
                    pictureAttributes={{
                        class: 'not-prose rounded-lg'
                    }}
                    class="not-prose rounded-lg"
                    transition:name={`post-hero-image-${post.slug}`}
                />

                <Content />
            </section>
        </article>
    </Fragment>
</ArticleLayout>
