---
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import type { HTMLTag } from 'astro/types';

import InternalLink from '@components/links/InternalLink.astro';
import PublishDate from '@components/blog-posts/PublishDate.astro';

import { SITE_METADATA } from '../../consts';

type Props = {
    posts: CollectionEntry<'blog'>[];
    HeadingType: HTMLTag;
};

const { posts, HeadingType } = Astro.props;
---

<Fragment>
    {
        posts.map((post) => (
            <article class="flex flex-col items-start justify-between">
                <header>
                    <HeadingType>
                        <InternalLink href={`/blog/${post.slug}/`}>{post.data.title}</InternalLink>
                    </HeadingType>

                    <PublishDate date={post.data.publishDate} />

                    <div class="flex flex-col justify-between gap-4 sm:flex-row sm:gap-8">
                        <div class="basis-1/3">
                            <Picture
                                src={post.data.heroImage}
                                alt={post.data.title}
                                formats={['avif', 'webp']}
                                widths={SITE_METADATA.SRC_SET_BREAKPOINTS}
                                loading="lazy"
                                decoding="async"
                                pictureAttributes={{
                                    class: 'not-prose rounded-lg'
                                }}
                                class="not-prose rounded-lg"
                            />
                        </div>

                        <div class="basis-2/3">{post.data.excerpt}</div>
                    </div>
                </header>
            </article>
        ))
    }
</Fragment>
