---
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import type { HTMLTag } from 'astro/types';

import InternalLink from '@components/links/InternalLink.astro';
import FormattedDate from '@components/FormattedDate.astro';

import { SITE_METADATA } from '../../consts';

type Props = {
    posts: CollectionEntry<'blog'>[];
    HeadingType: HTMLTag;
};

const { posts, HeadingType } = Astro.props;
---

<Fragment>
    {
        posts.map((post) => (
            <article class="flex flex-col items-start justify-between">
                <header>
                    <HeadingType transition:name={`post-title-${post.slug}`}>
                        <InternalLink href={`/blog/${post.slug}/`}>{post.data.title}</InternalLink>
                    </HeadingType>

                    <FormattedDate
                        date={post.data.publishDate}
                        transition:name={`post-publish-date-${post.slug}`}
                    />

                    <div class="flex flex-col justify-between gap-4 sm:flex-row sm:gap-8">
                        <Picture
                            src={post.data.heroImage}
                            alt=""
                            formats={['avif', 'webp']}
                            widths={SITE_METADATA.SRC_SET_BREAKPOINTS}
                            loading="lazy"
                            decoding="async"
                            pictureAttributes={{
                                class: 'not-prose w-fit rounded-lg sm:w-80'
                            }}
                            class="not-prose w-fit rounded-lg sm:w-80"
                            transition:name={`post-hero-image-${post.slug}`}
                        />

                        <div>{post.data.excerpt}</div>
                    </div>
                </header>
            </article>
        ))
    }
</Fragment>
